[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy-cloudflare-middleware = "*"
python-dateutil = "*"
pymongo = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.9"
